/* DESKTOP MENOR */
@media (max-width: 1280px) {
    body {
        padding: 0 20px;
    }

    .informacoes .descricao {
        width: 60%;
    }
}

/* TABLET */
@media (max-width: 768px) {

    body {
        padding: 0 15px;
        overflow-x: hidden;
    }

    .informacoes {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .informacoes .descricao {
        width: 100%;
    }

    .search-container {
        flex-direction: column;
        gap: 15px;
    }

    .login-container {
        display: flex;
        gap: 10px;
        justify-content: center;
    }
}

/* CELULAR */
@media (max-width: 425px) {

    body {
        padding: 0 10px;
    }

    .informacoes .logo {
        max-width: 280px;
        margin-bottom: 30px;
    }

    .menu-lateral {
        position: static;
        width: 100%;
        min-height: auto;
        margin-top: 30px;
    }

    .menu-lateral ul {
        flex-direction: row;
        justify-content: center;
    }

    .conteudo {
        min-height: auto;
        gap: 40px;
    }

    button[type="submit"],
    .login-container a {
        font-size: 14px;
        padding: 8px 10px;
    }
}
